<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="fa fa-caret-down"></span>
                    Usuarios
                </a>
                <input class="pull-right" type="checkbox" name="Estado" id="SelecionarTodos" value="Selecionar Todos">
            </h4>
        </div>
        <div id="collapseOne" class="collapsing" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="VerUsuarios" id="VerUsuarios" value="/Usuarios" /> Ver
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="CrearUsuarios" id="CrearUsuarios" value="/Usuarios/Crear" /> Crear
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="EditarUsuarios" id="EditarUsuarios" value="/Usuarios/Editar{id}" /> Editar
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="BorrarUsuarios" id="BorrarUsuarios" value="/Usuarios/Borrar{id}" /> Borrar
                    </label>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="fa fa-caret-down"></span>
                    Empleados
                </a>
                <input class="pull-right" type="checkbox" name="Estado" id="SelecionarTodos" value="Selecionar Todos">
            </h4>
        </div>
        <div id="collapseThree" class="collapsing" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="VerEmpleados" id="VerEmpleados" value="VerEmpleados" /> Ver
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="CrearEmpleados" id="CrearEmpleados" value="CrearEmpleados" /> Crear
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="EditarEmpleados" id="EditarEmpleados" value="EditarEmpleados" /> Editar
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="BorrarEmpleados" id="BorrarEmpleados" value="BorrarEmpleados" /> Borrar
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="fa fa-caret-down"></span>
                    Caja
                </a>
                <input class="pull-right" type="checkbox" name="Estado" id="SelecionarTodos" value="Selecionar Todos">
            </h4>
        </div>
        <div id="collapseTwo" class="collapsing" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
            </div>
        </div>
    </div>
</div>