@model TPV.Models.Usuario
@{
    ViewBag.Title = "Inicio de Sesion";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="loginForm">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 well">
            @using (Html.BeginForm("IniciarSesion", "Inicio", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <label class="input-group-addon"><i class="glyphicon glyphicon-user"></i></label>
                    @Html.TextBoxFor(m => m.User, new { @class = "form-control inputos", placeholder = "Usuario"})
                </div>

                <br>

                <div class="input-group">
                    <label class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></label>
                    @Html.PasswordFor(m => m.Clave, new { @class = "form-control inputos", placeholder = "Clave de Acceso" })
                </div>

                <br>

                @Html.ValidationSummary()

                <input class="btn btn-primary btn-block" name="btnIniciarSesion" type="submit" value="Iniciar Sesion" />
            }
        </div>
        <div class="col-md-4">
        </div>
    </div>
</section>