@{
    ViewBag.Title = "TPV";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-lg-12">&nbsp;</div>
</div>
<div class="row">

    <div class="col-md-4">
        <a href="~/Ventas" class="btn btn-default"  style="width:100%; height:100%">
            <i class="fa fa-shopping-basket fa-5x"></i>
            <!--<img src="~/Content/Iconos/ventas2.png" alt="Ventas" style="width:45%;" />-->
            <br />
            <p>Ventas</p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Clientes" class="btn btn-default"  style="width:100%; height:100%">
            <i class="fa fa-users fa-5x"></i>
            <!--<img src="~/Content/Iconos/clientes.png" alt="Gestion Clientes" style="width:45%;" />-->
            <br />
            <p>Clientes</p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Productos" class="btn btn-default"  style="width:100%; height:100%">
            <i class="fa fa-picture-o fa-5x"></i>
            <!--<img src="~/Content/Iconos/productos.png" alt="Gestion Productos" style="width:45%; " />-->
            <br />
            <p>Productos</p>
        </a>
    </div>

    <div>
        <br/>
    </div>
    
    <div class="col-md-4">
        <a href="~/Reportes" class="btn btn-default"  style="width:100%; height:100%">
            <i class="fa fa-bar-chart fa-5x"></i>
            <!--<img src="~/Content/Iconos/reporte.png" alt="Reportes" style="width:45%; " />-->
            <br />
            <p>Reportes</p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Empleados" class="btn btn-default"  style="width:100%; height:100%">
            <i class="fa fa-child fa-5x"></i>
            <!-- <img src="~/Content/Iconos/empleado3.png" alt="Gestion Empleados" style="width:45%; " /> -->
            <br />
            <p>Empleados</p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Configuracion" class="btn btn-default"  style="width:100%; height:100%">
            <i class="fa fa-cogs fa-5x"></i>
            <!--<img src="~/Content/Iconos/config3.png" alt="Configuracion" style="width:45%; " /> -->
            <br />
            <p>Configuracion</p>
        </a>
    </div>
</div>