@model TPV.Models.Puesto

@{
    ViewBag.Title = "Todos Los Puestos";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="page-header">
    <div class="pull-right">
        <a href="#" class="btn btn-default" disabled>
            <i class="glyphicon glyphicon-trash"></i>
            Eliminar Seleccionados
        </a>

        <a href="/Administracion/Puestos/Crear" class="btn btn-default">
            <i class="glyphicon glyphicon-plus" style="color:#276aa4"></i>
            Nuevo
        </a>

        <button onclick="atras()" class="btn btn-default">
            <i class="fa fa-chevron-left" style="color:#276aa4"></i>
            Atr&aacute;s
        </button>
    </div>

    <h2>Gestion de Puestos</h2>
</div>

<div class="row">
    <table class="table table-responsive table-condensed table-bordered table-hover">
        @*<table class="table table-striped table-hover">*@

        <thead>
            <tr class="bg-primary">
                <th>
                    <strong>
                        <input type="checkbox">
                    </strong>
                </th>

                <th>
                    <strong>
                        # <a href="#">
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </strong>
                </th>

                <th>
                    <strong>
                        Nombre
                        <a href="#" class="active">
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </strong>
                </th>

                <th>
                    <strong>
                        Descripci&oacute;n
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </strong>
                </th>

                <th>
                    <strong>
                        Funciones
                        <a href="#">
                            <i class="fa fa-caret-down fa-flip-vertical"></i>
                        </a>
                    </strong>
                </th>

                <th class="text-center">
                    <strong>
                        Acciones
                    </strong>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td><a href="#">1</a></td>
                <td><a href="#">Administrador</a></td> @* LINK IGUAL QUE EL BOTON VER *@
                <td><a href="#">Excepteur sint occaecat cupidatat non proident.</a></td>
                <td>
                    <a href="#">
                        Administrador <span class="fa fa-chevron-circle-down"></span>
                    </a>
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td><input type="checkbox"></td>
                <td><a href="#">2</a></td>
                <td><a href="#">Gerente</a></td> @* LINK IGUAL QUE EL BOTON VER *@
                <td><a href="#">Excepteur sint occaecat cupidatat non proident.</a></td>
                <td>
                    <a href="#">
                        Lorem Ipsum <span class="fa fa-chevron-circle-down"></span>
                    </a>
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="active">
                <td><input type="checkbox"></td>
                <td><a href="#">3</a></td>
                <td><a href="#">Supervisor</a></td> @* LINK IGUAL QUE EL BOTON VER *@
                <td><a href="#">Excepteur sint occaecat cupidatat non proident.</a></td>
                <td>
                    <a href="#">
                        Supervisar <span class="fa fa-chevron-circle-down"></span>
                    </a>
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>

        <tfoot>
        </tfoot>
    </table>
</div>