@model TPV.Models.Empleado

@{
    ViewBag.Title = "Todos Los Empleados";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="page-header">

    <div class="pull-right">
        <a href="#" class="btn btn-default" disabled>
            <i class="glyphicon glyphicon-trash"></i>
            Eliminar Seleccionados
        </a>

        <a href="/Administracion/Empleados/Crear" class="btn btn-default">
            <i class="glyphicon glyphicon-plus" style="color:#276aa4"></i>
            Nuevo
        </a>

        <button onclick="atras()" class="btn btn-default">
            <i class="fa fa-chevron-left" style="color:#276aa4"></i>
            Atr&aacute;s
        </button>
    </div>

    <h2>Gestion de Empleados</h2>
</div>


<div class="row">
    <table class="table table-responsive table-condensed table-bordered table-hover">

        <thead>
            <tr class="bg-primary">
                <th>
                    <strong>
                    <input type="checkbox"></strong></th>
                <th>
                    <strong># 
                        <a href="#" class="active"><i class="fa fa-caret-down fa-flip-vertical"></i></a>
                    </strong></th>
                <th>
                    <strong>Nombre 
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong></th>
                <th>
                    <strong>Apellido 
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong></th>
                <th>
                    <strong>Codigo 
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong></th>
                <th>
                    <strong>Puesto 
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong></th>
                <th class="text-center">
                    <strong>Acciones</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td><input type="checkbox"></td>
                <td>3</td>
                <td>Maria</td>
                <td>Perez</td>
                <td>023</td>
                <td>Supervision</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>2</td>
                <td>Maria</td>
                <td>Perez</td>
                <td>025</td>
                <td>Supervision</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>Maria</td>
                <td>Perez</td>
                <td>026</td>
                <td>Supervision</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
