@model TPV.Models.Empleado

@{
    ViewBag.Title = "Todos Los Empleados";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="page-header">

    <div class="pull-right">
        <a href="#" class="btn btn-default" disabled>
            <i class="glyphicon glyphicon-trash"></i>
            Eliminar Seleccionados
        </a>

        <a href="~/Empleados/Crear" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
            Crear Nuevo
        </a>

        <button onclick="atras()" class="btn btn-default">
            <i class="fa fa-chevron-left" style="color:#276aa4"></i>
            Atr&aacute;s
        </button>
    </div>

    <h2>Gestion de Empleados</h2>
</div>


<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">

            <thead>
                <tr class="bg-primary">
                    <th><strong><input type="checkbox"></strong></th>
                    <th><strong>#</strong></th>
                    <th><strong>Nombre</strong></th>
                    <th><strong>Apellido</strong></th>
                    <th><strong>Telefono</strong></th>
                    <th><strong>Puesto</strong></th>
                    <th><strong>Salario</strong></th>
                    <th><strong>Fecha de Entrada</strong></th>
                    <th><strong>Acciones</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>Maria</td>
                    <td>Perez</td>
                    <td>809-000-5555</td>
                    <td>Supervision</td>
                    <td>35,000</td>
                    <td>07/09/2014</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-eye-open"></i><span> Detalles </span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-pencil"></i><span> Editar </span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-trash"></i><span> Eliminar </span>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>2</td>
                    <td>Maria</td>
                    <td>Perez</td>
                    <td>809-000-5555</td>
                    <td>Supervision</td>
                    <td>35,000</td>
                    <td>07/09/2014</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-eye-open"></i><span> Detalles </span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-pencil"></i><span> Editar </span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-trash"></i><span> Eliminar </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>3</td>
                    <td>Maria</td>
                    <td>Perez</td>
                    <td>809-000-5555</td>
                    <td>Supervision</td>
                    <td>35,000</td>
                    <td>07/09/2014</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-eye-open"></i><span> Detalles </span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-pencil"></i><span> Editar </span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-trash"></i><span> Eliminar </span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
