@model TPV.Models.Usuario

@{
    ViewBag.Title = "Todos Los Usuarios";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="page-header">
    <div class="pull-right">
        <a href="#" class="btn btn-default" disabled>
            <i class="glyphicon glyphicon-trash"></i>
            Eliminar Seleccionados
        </a>

        <a href="Usuarios/Crear" class="btn btn-default">
            <i class="glyphicon glyphicon-plus" style="color:#276aa4"></i>
            Nuevo
        </a>

        <button onclick="atras()" class="btn btn-default">
            <i class="fa fa-chevron-left" style="color:#276aa4"></i>
            Atr&aacute;s
        </button>
    </div>
    <h2>Gestion de Usuarios</h2>
</div>

<div class="row">
    <table class="table table-responsive table-condensed table-bordered table-hover">

        <thead>
            <tr class="bg-primary">
                <th>
                    <strong>
                        <input type="checkbox">
                    </strong>
                </th>

                <th>
                    <strong>
                        # <a href="#">
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </strong>
                </th>

                <th>
                    <strong>
                        ID
                        <a href="#" class="active">
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </strong>
                </th>

                <th>
                    <strong>
                        Empleado (a)
                        <a href="#" class="active">
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </strong>
                </th>
                <th>
                    <strong>
                        Usuario
                        <a href="#">
                            <i class="fa fa-caret-down fa-flip-vertical"></i>
                        </a>
                    </strong>
                </th>
                <th>
                    <strong>
                        Rol (es)
                        <a href="#">
                            <i class="fa fa-caret-down fa-flip-vertical"></i>
                        </a>
                    </strong>
                </th>
                <th class="text-center">
                    <strong>
                        Acciones
                    </strong>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="active">
                <td><input type="checkbox"></td>
                <td><a href="#">1</a></td>
                <td><a href="#">04</a></td>
                <td><a href="#">Nombre + Apellido</a></td>
                <td><a href="#">emarte</a></td>
                <td>
                    Admin <a href="#">
                        <span class="caret"></span>
                    </a>
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td><input type="checkbox"></td>
                <td><a href="#">1</a></td>
                <td><a href="#">04</a></td>
                <td><a href="#">Nombre + Apellido</a></td>
                <td><a href="#">emarte</a></td>
                <td>
                    Admin <a href="#">
                        <span class="caret"></span>
                    </a>
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td><input type="checkbox"></td>
                <td><a href="#">1</a></td>
                <td><a href="#">04</a></td>
                <td><a href="#">Nombre + Apellido</a></td>
                <td><a href="#">emarte</a></td>
                <td>
                    Admin <a href="#">
                        <span class="caret"></span>
                    </a>
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                        </a>
                    </div>
                </td>
            </tr>

        </tbody>

        <tfoot>
        </tfoot>
    </table>
</div>